/* hier moet ook nog dat alles ronder wordt, is wel mooi template */ 

html, body {
	height: 100%; 
	margin: 0px;
}

header {
	height: 50px;
	margin-bottom:25px;
	
}


footer {
	height: 50px;

}

.top {
	background-color: orange;
	font-size: 140%;
	padding: 25px;
	margin: 15px;
	color: white;
}


.logo {
	float: left;
	width: 4.35%;
	height: 4.35%;
}

.onder_top {
	margin-bottom: 20px;
}
h1 {
	color: Orange;
	text-align: center;
	border-radius: 25px;
}

body {
font-family: Arial;
display: flex;
flex-direction: column;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	
}


li {
	display: inline;
	float: left;
}

li a {
	display: inline;
	text-decoration: none;
	color: white;
	padding: 10px;
	background-color: orange;

}

li a:hover {
	
	background-color: grey;
	color: white;
}

nav {
	
	display: inline-block;
	border-radius: 10px;
}

p{
	margin-top: 80px;
}

.actief {
	background-color: white;
	color: black;
}



/* De div moeten naast elkaar is mooier */ 
.links {
	float: left;
	width: 400px;
	vertical-align: top;
	padding-top: 0px;
	margin-top: 0px;
	
}

.rechts {
	margin-left: 500px;
	width: 400px;
	vertical-align: top;
	
}

.clear {
	clear: both;
}

.alles {
	width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.omhoog {
	margin-top: 200px;
}

.midden {
	margin: auto;
	text-align: center;
	float: left;
	
}

.bottom {
	color: white;
	background-color: grey;
	text-align: center;
	display: block;
	border-radius: 25px;
	
}
