# Requirements file
# Libraries worden automatisch bij deployment geinstalleerd
# De opgeven versie is optioneel
Flask==1.0.2
Jinja2==2.10.1
Werkzeug==0.15.2
mysql-connector==2.2.9
mysql-connector-python==8.0.14
biopython==1.73
