/* hier moet ook nog dat alles ronder wordt, is wel mooi template */

html, body {
	height: 100%;
	margin: 0px;
}

header {
	height: 80px;
	margin-bottom:25px;

}


footer {
	height: 50px;

}

.top {
	background-color: #69968C;
	font-size: 36;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
}


.logo {
	float: left;
	margin-left: 550px;
	margin-top: 5px;
	margin-right: 50px;
	width: 4%;
	height: 3.5%;
	border-radius: 50%;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.onder_top {
	margin-bottom: 20px;
}
h1 {
	color: #8BB8A8;
	text-align: center;
}

.top{
	text-align: left;
	padding-left: -1000px;
	padding-right: -200px;
	text-shadow: 2px 2px 4px #000000

}

body {
font-family: Arial;
display: flex;
flex-direction: column;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;


}


li {
	display: inline;
	float: left;
}

li a {
	display: inline;
	text-decoration: none;
	color: white;
	padding: 10px;
	margin-right: 20px;
	background-color: #8BB8A8;
	border-radius: 10px;
	border-width: 1.5px;
	border-style: solid;
	border-color: #69968C;
	box-shadow: 5px 5px 2.5px lightgrey;

}

li a:hover {
	border-width: 1.5px;
	border-style: solid;
	border-color: #273043;
	background-color: #273043;
	color: white;
}

.eerste_nav {
	margin-left:20px;
}

.actief {
	border-width: 1.5px;
	border-style: solid;
	background-color: white;
	border-color: #69968C;
	color: black;
}


h2 {
	color: #8BB8A8;
	text-align: center;

}

p {
	text-align: center;
}

/* De div moeten naast elkaar is mooier */
.links {
	float: left;
	width: 400px;
	vertical-align: top;
	padding-top: 0px;
	margin-top: 0px;

}

.rechts {
	margin-left: 500px;
	width: 400px;
	vertical-align: top;

}

.clear {
	clear: both;
}

.alles {
	width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}


.omhoog {
	margin-top: 200px;
}

.midden {
	margin: auto;
	text-align: center;
	float: left;

}

form {
	text-align: center;
}

hr {
	border-color: lightgrey;
	border-width: 1px;
	border-style: solid;
}

.bottom {
	color: grey;
	background-color: lightgrey;
	text-align: center;
	display: block;
	border-radius: 10px;

}

