

{% block footer %}
<hr>
<footer>
<div class = "bottom">
Groep EENhoorn bestaat uit vier groepsleden, die studeren aan de Hogeschool van Arnhem en Nijmegen.
Deze site is gemaakt om de gevonden organismen en eiwitten uit compost op een overzichtelijke manier te laten zien aan biologen.
Op deze site is tevens de functie van één van de eiwitten te vinden.
De organismen en eiwitten zijn gevonden door middel van BLAST van NCBI. De groep heeft een geautomatiseerde <br>
BLAST tool ontwikkeld.
De tool en uitkomsten zijn voor het laatst geüpdatet op
</div>
</footer>
{% endblock footer %}
